.article-info {
    padding: 50px 75px;
}
.article-title {
    text-align: center;
    margin-bottom: 50px;
}
.article-btn {
    width: 90%;
}
.article-button {
    font-weight: 700;
    border: none;
    background-color: inherit;
    margin-left: 20px;
    margin-bottom: 20px;
}
