@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import './App.scss';
@import './helpers/variables';

body {
    font-family: $font-family, sans-serif;
    font-size: $small-size;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
