.article-button {
    font-weight: 700;
    border: none;
    background-color: inherit;
    text-transform: capitalize;
    color: #363636;
    margin: 25px 0px;
}
.subtitle {
    max-width: 400px;
    height: 100px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.title{
    height: 100px;
      @media (max-width: 1200px) {
    font-size: 20px;
  }
     @media (max-width: 950px) {
    font-size: 18px;
  }
}
.date{
    margin: 25px 0px 10px 10x!important;
}
.card{
      @media (max-width: 600px) {
    flex-direction: column;
  }
}